extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    .tile-container
      - var posts = pageData;
      - each post in posts
        .post-tile
          .tile-text 
            p #{post.title}
          a(href=post.source): img.img-responsive.tile-img(src=post.thumbnail, alt=post.title)
          