extends layout

block content
  .container
    h1= title
    p Welcome to #{title}
    .tile-container
      - var posts = pageData;
      - each post in posts
        .post-tile
          a(href=post.source): img.img-responsive(src=post.thumbnail, alt=post.title)